* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial';
}

.filters {
    padding: 20px 0;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 16px;
}

form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    font-size: 18px;
    display: inline-block;
    white-space: nowrap;
    margin-right: 15px;
    font-weight: 600;
}

.input {
    margin-right: 10px;
    font-size: 13px;
    padding: 10px 5px;
    max-width: 100px;
}

.select-wrapper {
    max-width: 168px;
    margin-right: 10px;
    font-size: 13px;
}

.select-wrapper select {
    padding: 10px 5px;
}

.btn {
    padding: 12px 5px;
    font-size: 15px;
    width: 135px;
    border: none;
    border-radius: 5px;
    background-color: dodgerblue;
    color: #fff ;
    word-wrap: break-word;
    font-size: 13px;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}

.table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}

.table td {
    border: 1px solid #dddddd;
    padding: 5px;
}

#errorMessage {
    text-align: end;
    font-size: 12px;
    color: #b34242;
}

